.unacenter{
    text-align: center;
    color: black;
    border: 2px solid black;
}
.una{
    text-align: center;
    color: aliceblue;
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(126, 122, 122);
    padding: 60px;
    border-radius: 40px 40px 40px 40px;
    overflow: auto;
    margin: 0 auto;
    width: 90%;
    height: 120px;
    font-family: "Noto Serif TC", serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
    
}
.name1{
    text-align: center;
}
.una0{
    text-align: center;
    padding: 50px;
    color: aliceblue;
}
a.unalink{
    color: azure;
    padding: 0 30px;
    border-radius: 40px;
    background-color: darkgray;
}
a.unalink:hover{
    background-color: darkkhaki;
    color: aliceblue;
}
.unabig{
    font-size: 20px;
    font-weight: 800;
}
.unago{
    font-size: 50px;
    text-align: center;
}
section#about {
    background-color:linear-gradient( rgba(144, 186, 186,0.7),rgba(144, 186, 186,0.7),url("../assets/img/bg.jpg"));
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
}
section#about h1{
    color: aliceblue;
}
section#work{
    background-color: rgb(144, 186, 186);
}
section#cta{
    background-color: rgb(144, 186, 186);
}
#work table{
    color: aliceblue;
}
.una2{
    width: 70%;
    border-radius: 10px;
    display: flex;
}